@import "tailwindcss";

@theme {
  --breakpoint-xs: 350px;
  
  --color-bprincipal: #1d1d1d;
  --color-bprincipal-light: #2c2c2c;
  --color-bprincipal-invert: #ffffff;
  --color-bprincipal-invert-light: #f5f5f5;

  --color-tprincipal: #ffffff;
  --color-tprincipal-invert: #1d1d1d;
  --color-tsecondary: #8b8b8b;
}